html:has(.panel) {
  padding-bottom: 40px; /* Make space for the source lens panel */
}

.source-lens {
  box-sizing: border-box;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

.panel {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  z-index: 10000;
  background: #f5f5f5;
  border-top: 1px solid #ccc;
  height: 40px;
  white-space: nowrap;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.location-string {
  display: flex;
  font-size: 14px;
  border-right: 1px solid #ccc;
  flex-grow: 1;
  user-select: none;
  height: 100%;
  width: 100%;
  align-items: center;
  padding: 4px 16px;
  margin-right: auto;
  overflow: hidden;

  a {
    color: #333;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.source-code {
  position: fixed;
  bottom: 48px;
  top: 40%;
  max-width: 900px;
  width: calc(100% - 16px);
  right: 8px;
  overflow: auto;
  background: #181818;
  border: 1px solid #1c1c1c;
  padding: 0;
  overflow: hidden;
  margin-top: 8px;
  box-sizing: border-box;
  border-radius: 4px;
}

.source-lens-overlay {
  position: fixed;
  pointer-events: none;
  background-color: rgba(0, 255, 229, 0.2);
  border: 1px solid rgba(0, 255, 229, 0.8);
  z-index: 9999;
  box-sizing: border-box;
  will-change: top, left, width, height;
  border-radius: 2px;
}

.panel-title {
  display: flex;
  align-items: center;
  padding: 0 12px;
  gap: 8px;
  font-weight: bold;
  font-size: 12px;
  height: 100%;
  border-right: 1px solid #ccc;
  color: #000;
  text-decoration: none;

  &:hover {
    background-color: #e0e0e0;
  }
}

.panel-action {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-right: 1px solid #ccc;

  &:hover {
    background-color: #e0e0e0;
  }

  &:active,
  &.active {
    background-color: #34343a;
    color: #6ce6f9;

    path {
      fill: #6ce6f9;
    }
  }
}

.panel-group {
  display: flex;
  align-items: center;
  height: 100%;
}
